@use 'variaveis';

.hero {
    padding: 4.4vw;
    min-height: 40vh;
    background-image: url(../images/hero_desktop.jpeg);
    text-align: center;
    background-size: cover;

    @media (max-width: 768px) {
        background-image: url(../images/hero_celular.jpeg);
        padding-top: calc(50vw + 25px);
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: -55px;
    }

    .button {
        margin-top: 2vw;
        margin-bottom: 8px;
    }

    &__content {
        max-width: 512px;

        &__brand {
            max-width: 256px;
            margin: 0 auto 30.4px;

            @media (max-width: 768px) {
                max-width: 180px;
            }
        }

        .title--small {
            margin-bottom: 51.2px;
        }

        p {
            margin-bottom: 16px;

            &:last-child {
                margin-top: 38.4px;
            }
        }

        &__combos {
            display: flex;
            justify-content: space-between;

            @media (max-width: 768px) {
                display: block;
            }

            &__combo {
                width: calc(50% - 9.6px);

                @media (max-width: 768px) {
                    width: 100%;
                    margin-bottom: 24px;
                }

                img {
                    max-height: 48px;
                }

            }
        }
    }
}