@use 'variaveis';

.hero {
    padding: 4.4vw;
    min-height: 40vh;
    background-image: url(../images/hero_desktop.jpeg);
    text-align: center;
    background-size: cover;

    .button {
        margin-top: 2vw;
        margin-bottom: 8px;
    }

    &__content {
        max-width: 512px;

        &__brand {
            max-width: 256px;
            margin: 0 auto 30.4px;
        }

        .title--small {
            margin-bottom: 51.2px;
        }

        p {
            margin-bottom: 16px;

            &:last-child {
                margin-top: 38.4px;
            }
        }

        &__combos {
            display: flex;
            justify-content: space-between;

            &__combo {
                width: calc(50% - 9.6px);

                img {
                    max-height: 48px;
                }

            }
        }
    }
}