@use 'variaveis';
@use 'hero';
@use 'shows';

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}


* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
}

body {
    background-color: variaveis.$corDeFundo;

}

@mixin text($fontSize: 12.8px) {
    font-size: $fontSize;
    line-height: $fontSize + 8px;
    color: variaveis.$corTextoPrincipal;
}

@mixin title($fontSize: 32px) {
    @include text($fontSize);
    color: variaveis.$corTextoSecundaria;
}

.text--big {
    @include text(14.4px);
}

.text {
    @include text;
}

.text--small {
    @include text(9.6px);
}

.title--big {
    @include title(35.2px);
}

.title {
    @include title;
}

.title--small {
    @include title(22.4px);
}

.link-text {
    @include text(14.4px);
    color: variaveis.$corTextoSecundaria;
    text-decoration: underline;
}